<?xml version="1.0" encoding="UTF-8"?>
<!--
    Common beans for this channel.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    default-lazy-init="true"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
    
    <!--
        Location of various resources.
    -->
    <bean id="gr_grnet_productionAggregate_url" class="java.lang.String">
        <constructor-arg value="http://aai.grnet.gr/metadata.xml"/>
    </bean>
    <bean id="gr_grnet_edugainAggregate_url" class="java.lang.String">
        <constructor-arg value="http://aai.grnet.gr/edugain-metadata.xml"/>
    </bean>
    
    <!--
        Fetch the production aggregate.
    -->
    <bean id="gr_grnet_productionAggregate" parent="domResourceStage_parent"
        p:id="gr_grnet_productionAggregate">
        <property name="domResource">
            <bean class="net.shibboleth.utilities.java.support.httpclient.HttpResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url"    ref="gr_grnet_productionAggregate_url"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Fetch the eduGAIN export aggregate.
    -->
    <bean id="gr_grnet_edugainAggregate" parent="domResourceStage_parent"
        p:id="gr_grnet_edugainAggregate">
        <property name="domResource">
            <bean class="net.shibboleth.utilities.java.support.httpclient.HttpResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url"    ref="gr_grnet_edugainAggregate_url"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Signing certificate.
    -->
    <bean id="gr_grnet_signingCertificate" class="net.shibboleth.ext.spring.factory.X509CertificateFactoryBean">
        <property name="certificateFile">
            <bean class="java.io.File">
                <constructor-arg value="#{ systemProperties['basedir'] }/mdx/gr_grnet/wayf.grnet.gr.pem"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Check signing signature.
    -->
    <bean id="gr_grnet_checkSignature" parent="stage_parent"
        class="net.shibboleth.metadata.dom.XMLSignatureValidationStage"
        p:id="gr_grnet_checkSignature">
        <property name="verificationCertificate" ref="gr_grnet_signingCertificate"/>
    </bean>
    
    <!--
        Fetch and process the production entities as a collection.
    -->
    <bean id="gr_grnet_productionEntities" parent="composite_parent"
        p:id="gr_grnet_productionEntities">
        <property name="composedStages">
            <list>
                <ref bean="gr_grnet_productionAggregate"/>

                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="check_validUntil"/>
                <ref bean="gr_grnet_checkSignature"/>
                <ref bean="errorTerminatingFilter"/>
                
                <ref bean="disassemble"/>
                
                <ref bean="standardImportActions"/>
                
                <!-- Strip all entity attributes from this source. -->
                <ref bean="stripMdattrNamespace"/>
                
            </list>
        </property>
    </bean>
    
    <!--
        Fetch and process the eduGAIN export entities as a collection.
    -->
    <bean id="gr_grnet_edugainEntities" parent="composite_parent"
        p:id="gr_grnet_edugainEntities">
        <property name="composedStages">
            <list>
                <ref bean="gr_grnet_edugainAggregate"/>
                
                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="check_validUntil"/>
                <ref bean="gr_grnet_checkSignature"/>
                <ref bean="errorTerminatingFilter"/>
                
                <ref bean="disassemble"/>
                
                <ref bean="standardImportActions"/>
                
                <!-- Strip all entity attributes from this source. -->
                <ref bean="stripMdattrNamespace"/>
                
            </list>
        </property>
    </bean>
    
    <!--
        Select primary export aggregate.
    -->
    <alias alias="gr_grnet_exportedAggregate" name="gr_grnet_edugainAggregate"/>
    <alias alias="gr_grnet_exportedEntities"  name="gr_grnet_edugainEntities"/>
</beans>
