<?xml version="1.0" encoding="UTF-8"?>
<!--
    Common beans for this channel.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    default-lazy-init="true"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    
    <!--
        Location of various resources.
    -->
    <!-- ACOnet-registered entities without interfederation -->
    <bean id="at_aconet_registrarAggregate_url" class="java.lang.String">
        <constructor-arg value="http://eduid.at/md/aconet-registered.xml"/>
    </bean>
    <!-- eduGAIN export aggregate -->
    <bean id="at_aconet_edugainAggregate_url" class="java.lang.String">
        <constructor-arg value="http://eduid.at/md/upstream-edugain.xml"/>
    </bean>
    
    <!--
        Fetch the production aggregate.
    -->
    <bean id="at_aconet_productionAggregate" parent="DOMResourceSourceStage"
        p:id="at_aconet_productionAggregate">
        <property name="DOMResource">
            <bean parent="HTTPResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url"    ref="at_aconet_registrarAggregate_url"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Fetch the eduGAIN export aggregate.
    -->
    <bean id="at_aconet_edugainAggregate" parent="DOMResourceSourceStage"
        p:id="at_aconet_edugainAggregate">
        <property name="DOMResource">
            <bean parent="HTTPResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url"    ref="at_aconet_edugainAggregate_url"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Signing certificate.
    -->
    <bean id="at_aconet_signingCertificate" parent="X509CertificateFactoryBean"
        p:resource="classpath:at_aconet/aconet-aai-metadata-signing.crt"/>
    
    <!--
        Check signing signature.
    -->
    <bean id="at_aconet_checkProductionSignature" parent="XMLSignatureValidationStage"
        p:id="at_aconet_checkProductionSignature">
        <property name="verificationCertificate" ref="at_aconet_signingCertificate"/>
    </bean>
    <bean id="at_aconet_checkEdugainSignature" parent="XMLSignatureValidationStageSHA256"
        p:id="at_aconet_checkEdugainSignature">
        <property name="verificationCertificate" ref="at_aconet_signingCertificate"/>
    </bean>
    
    <!--
        at_aconet_check_regauth
        
        Any registrationAuthority already present on an entity in this
        channel must match the known registration authority value.
    -->
    <bean id="at_aconet_check_regauth" parent="check_regauth_parent"
        p:id="at_aconet_check_regauth">
        <property name="transformParameters">
            <map>
                <entry key="expectedAuthority" value-ref="at_aconet_registrar"/>
            </map>
        </property>
    </bean>
    
    <!--
        at_aconet_default_regauth
        
        Provide a default registrationAuthority appropriate to
        this channel.
    -->
    <bean id="at_aconet_default_regauth" parent="default_regauth_parent"
        p:id="at_aconet_default_regauth">
        <property name="transformParameters">
            <map>
                <entry key="defaultAuthority" value-ref="at_aconet_registrar"/>
            </map>
        </property>
    </bean>
    
    <!--
        Fetch the production entities as a collection.
    -->
    <bean id="at_aconet_productionEntities" parent="CompositeStage"
        p:id="at_aconet_productionEntities">
        <property name="composedStages">
            <list>
                <ref bean="at_aconet_productionAggregate"/>
                
                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="check_validUntil"/>
                <ref bean="at_aconet_checkProductionSignature"/>
                <ref bean="errorTerminatingFilter"/>
                
                <ref bean="disassemble"/>
            </list>
        </property>
    </bean>
    
    <!--
        Fetch the eduGAIN export entities as a collection.
    -->
    <bean id="at_aconet_edugainEntities" parent="CompositeStage"
        p:id="at_aconet_edugainEntities">
        <property name="composedStages">
            <list>
                <ref bean="at_aconet_edugainAggregate"/>
                
                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="check_validUntil"/>
                <ref bean="at_aconet_checkEdugainSignature"/>
                <ref bean="errorTerminatingFilter"/>
                
                <ref bean="disassemble"/>
                
                <ref bean="check_hasreginfo"/>
                <ref bean="at_aconet_check_regauth"/>
            </list>
        </property>
    </bean>
    
    <!--
        Select primary export aggregate.
    -->
    <alias alias="at_aconet_exportedAggregate" name="at_aconet_edugainAggregate"/>
    <alias alias="at_aconet_exportedEntities"  name="at_aconet_edugainEntities"/>
</beans>
