<?xml version="1.0" encoding="UTF-8"?>
<!--
    Common beans for this channel.
-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> 

    <!--
        Fetch the export aggregate.
    -->
    <bean id="ie_edugate_exportAggregate" class="net.shibboleth.metadata.dom.DomHttpSourceStage"
        init-method="initialize" lazy-init="true">
        <property name="id" value="ie_edugate_exportAggregate"/>
        <property name="parserPool" ref="parserPool"/>
        <property name="sourceUrl" value="https://edugate.heanet.ie/edugate-ukfed-signed.xml"/>        
    </bean>
    
    <!--
        Fetch the production aggregate.
    -->
    <bean id="ie_edugate_productionAggregate" class="net.shibboleth.metadata.dom.DomHttpSourceStage"
        init-method="initialize" lazy-init="true">
        <property name="id" value="ie_edugate_productionAggregate"/>
        <property name="parserPool" ref="parserPool"/>
        <property name="sourceUrl" value="https://edugate.heanet.ie/edugate-metadata-signed.xml"/>        
    </bean>
    
    <!--
        Metadata signing certificate.
    -->
    <bean id="ie_edugate_signingCertificate" class="net.shibboleth.ext.spring.factory.X509CertificateFactoryBean">
        <property name="certificateFile">
            <bean class="java.io.File">
                <constructor-arg value="#{ systemProperties['basedir'] }/mdx/ie_edugate/metadata-signer.crt"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Check the signature on a document.
    -->
    <bean id="ie_edugate_checkSignature" class="net.shibboleth.metadata.dom.XMLSignatureValidationStage"
        init-method="initialize" lazy-init="true">
        <property name="id" value="ie_edugate_checkSignature"/>
        <property name="verificationCertificate" ref="ie_edugate_signingCertificate"/>
    </bean>
    
    <!--
        ie_edugate_validUntil
        
        Check that an aggregate has a validUntil instant specified, and that it has not
        yet expired.  Sets a bound of 14 days on the validity interval; 9 days is the
        expected value.
    -->
    <bean id="ie_edugate_validUntil" class="net.shibboleth.metadata.dom.saml.ValidateValidUntilStage"
        init-method="initialize" lazy-init="true">
        <property name="id" value="ie_edugate_validUntil"/>
        <!--
            The validUntil attribute must be present.
        -->
        <property name="requireValidUntil" value="true"/>
        <!--
            Validity interval must not exceed 30 days.
        -->
        <property name="maxValidityInterval" value="#{ 1000L * 60 * 60 * 24 * 14 }"/>
    </bean>
    
    <!--
        Fetch and process all entities as a collection.
    -->
    <bean id="ie_edugate_allEntities" class="net.shibboleth.metadata.pipeline.CompositeStage"
        init-method="initialize" lazy-init="true">
        <property name="id" value="ie_edugate_allEntities"/>
        <property name="composedStages">
            <list>
                <ref bean="ie_edugate_productionAggregate"/>
                
                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="ie_edugate_validUntil"/>
                <ref bean="ie_edugate_checkSignature"/>
                <ref bean="errorTerminatingFilter"/>
                
                <ref bean="disassemble"/>
                
                <ref bean="standardImportActions"/>
            </list>
        </property>
    </bean>
    
    <!--
        Fetch and process the exported entities as a collection.
    -->
    <bean id="ie_edugate_exportedEntities" class="net.shibboleth.metadata.pipeline.CompositeStage"
        init-method="initialize" lazy-init="true">
        <property name="id" value="ie_edugate_exportedEntities"/>
        <property name="composedStages">
            <list>
                <ref bean="ie_edugate_exportAggregate"/>

                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="ie_edugate_validUntil"/>
                <ref bean="ie_edugate_checkSignature"/>
                <ref bean="errorTerminatingFilter"/>
                
                <ref bean="disassemble"/>
                
                <ref bean="standardImportActions"/>
            </list>
        </property>
    </bean>
    
</beans>
