<?xml version="1.0" encoding="UTF-8"?>
<!--
    Common beans for this channel.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    default-lazy-init="true"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    
    <!--
        Fetch the export aggregate.
    -->
    <bean id="ie_edugate_exportAggregate" parent="DOMResourceSourceStage"
        p:id="ie_edugate_exportAggregate">
        <property name="DOMResource">
            <bean parent="HTTPResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url" value="https://edugate.heanet.ie/edugate-ukfed-signed.xml"/>        
            </bean>
        </property>
    </bean>
    
    <!--
        Fetch the production aggregate.
    -->
    <bean id="ie_edugate_productionAggregate" parent="DOMResourceSourceStage"
        p:id="ie_edugate_productionAggregate">
        <property name="DOMResource">
            <bean parent="HTTPResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url" value="https://edugate.heanet.ie/edugate-metadata-signed.xml"/>        
            </bean>
        </property>
    </bean>
    
    <!--
        Metadata signing certificate.
    -->
    <bean id="ie_edugate_signingCertificate" parent="X509CertificateFactoryBean">
        <property name="certificateFile">
            <bean class="java.io.File">
                <constructor-arg value="#{ systemProperties['basedir'] }/mdx/ie_edugate/metadata-signer.crt"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Check the signature on a document.
    -->
    <bean id="ie_edugate_checkSignature" parent="XMLSignatureValidationStage"
        p:id="ie_edugate_checkSignature">
        <property name="verificationCertificate" ref="ie_edugate_signingCertificate"/>
        <property name="permittingEmptyReferences" value="true"/>
    </bean>
    
    <!--
        ie_edugate_validUntil
        
        Check that an aggregate has a validUntil instant specified, and that it has not
        yet expired.  Sets a bound of 14 days on the validity interval; 9 days is the
        expected value.
    -->
    <bean id="ie_edugate_validUntil" parent="stage_parent"
        class="net.shibboleth.metadata.dom.saml.ValidateValidUntilStage"
        p:id="ie_edugate_validUntil">
        <!--
            The validUntil attribute must be present.
        -->
        <property name="requireValidUntil" value="true"/>
        <!--
            Validity interval must not exceed 14 days.
        -->
        <property name="maxValidityInterval" value="#{ 1000L * 60 * 60 * 24 * 14 }"/>
    </bean>
    
    <!--
        ie_edugate_registrar
        
        Unique ID for the registrar associated with this channel.
    -->
    <bean id="ie_edugate_registrar" class="java.lang.String">
        <constructor-arg value="http://edugate.heanet.ie"/>
    </bean>
    
    <!--
        ie_edugate_check_regauth
        
        Any registrationAuthority already present on an entity in this
        channel must match the known registration authority value.
    -->
    <bean id="ie_edugate_check_regauth" parent="check_regauth_parent"
        p:id="ie_edugate_check_regauth">
        <property name="transformParameters">
            <map>
                <entry key="expectedAuthority" value-ref="ie_edugate_registrar"/>
            </map>
        </property>
    </bean>
    
    <!--
        ie_edugate_default_regauth
        
        Provide a default registrationAuthority appropriate to
        this channel.
    -->
    <bean id="ie_edugate_default_regauth" parent="default_regauth_parent"
        p:id="ie_edugate_default_regauth">
        <property name="transformParameters">
            <map>
                <entry key="defaultAuthority" value-ref="ie_edugate_registrar"/>
            </map>
        </property>
    </bean>
    
    <!--
        Fetch production entities as a collection.
    -->
    <bean id="ie_edugate_productionEntities" parent="CompositeStage"
        p:id="ie_edugate_productionEntities">
        <property name="composedStages">
            <list>
                <ref bean="ie_edugate_productionAggregate"/>
                
                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="ie_edugate_validUntil"/>
                <ref bean="ie_edugate_checkSignature"/>
                <ref bean="errorTerminatingFilter"/>
                
                <ref bean="disassemble"/>
                
                <ref bean="ie_edugate_check_regauth"/>
            </list>
        </property>
    </bean>
    
    <!--
        Fetch the exported entities as a collection.
    -->
    <bean id="ie_edugate_exportedEntities" parent="CompositeStage"
        p:id="ie_edugate_exportedEntities">
        <property name="composedStages">
            <list>
                <ref bean="ie_edugate_exportAggregate"/>

                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="ie_edugate_validUntil"/>
                <ref bean="ie_edugate_checkSignature"/>
                <ref bean="errorTerminatingFilter"/>
                
                <ref bean="disassemble"/>
                
                <ref bean="ie_edugate_default_regauth"/>
                <ref bean="ie_edugate_check_regauth"/>
            </list>
        </property>
    </bean>
    
</beans>
