<?xml version="1.0" encoding="UTF-8"?>
<!--
    Common beans for this channel.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    default-lazy-init="true"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    
    <!--
        Import additional channel-local beans.
    -->
    <import resource="file:${edugain.dir}/entity-blacklist.xml"/>
    <import resource="file:${edugain.dir}/verify-blacklist.xml"/>
    
    <!--
        Location of various resources.
    -->
    <!-- production aggregate -->
    <bean id="int_edugain_productionAggregate_url" parent="String">
        <constructor-arg value="http://mds.edugain.org/"/>
    </bean>
    <!-- test aggregate -->
    <bean id="int_edugain_testAggregate_url" parent="String">
        <constructor-arg value="http://mds-test.edugain.org"/>
    </bean>

    <!--
        Fetches the eduGAIN production aggregate.
    -->
    <bean id="int_edugain_productionAggregate" parent="mda.DOMResourceSourceStage">
        <property name="parserPool" ref="parserPool"/>
        <property name="DOMResource">
            <bean parent="HTTPResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url" ref="int_edugain_productionAggregate_url"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Fetch the eduGAIN test aggregate.
    -->
    <bean id="int_edugain_testAggregate" parent="mda.DOMResourceSourceStage">
        <property name="parserPool" ref="parserPool"/>
        <property name="DOMResource">
            <bean parent="HTTPResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url" ref="int_edugain_testAggregate_url"/>
            </bean>
        </property>
    </bean>
    
    <!--
        eduGAIN signing certificate.
    -->
    <bean id="int_edugain_signingCertificate" parent="X509CertificateFactoryBean"
        p:resource="classpath:int_edugain/mds-2014.cer"/>
    
    <!--
        Check a signature against the eduGAIN signing certificate.
    -->
    <bean id="int_edugain_checkSignature" parent="XMLSignatureValidationStageSHA256">
        <property name="verificationCertificate" ref="int_edugain_signingCertificate"/>
    </bean>

    <!--
        Remove blacklisted entities.
    -->
    <bean id="int_edugain_removeBlacklistedEntities" parent="mda.EntityFilterStage"
        p:whitelistingEntities="false"
        p:designatedEntities-ref="int_edugain_entity_blacklist"/>

    <!--
        Fetch the production entities as a collection.
    -->
    <bean id="int_edugain_productionEntities" parent="mda.CompositeStage">
        <property name="composedStages">
            <list>
                <ref bean="int_edugain_productionAggregate"/>

                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="check_validUntil"/>
                <ref bean="int_edugain_checkSignature"/>
                <ref bean="errorTerminatingFilter"/>
                
                <ref bean="disassemble"/>
                
                <ref bean="int_edugain_removeBlacklistedEntities"/>

                <!--
                    All eduGAIN entities should have mdrpi:RegistrationInfo elements, but
                    we can't check the actual values.
                -->
                <ref bean="check_hasreginfo"/>
            </list>
        </property>
    </bean>
    
    <!--
        Fetch the test entities as a collection.
    -->
    <bean id="int_edugain_testEntities" parent="mda.CompositeStage">
        <property name="composedStages">
            <list>
                <ref bean="int_edugain_testAggregate"/>

                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="check_validUntil"/>
                <ref bean="int_edugain_checkSignature"/>
                <ref bean="errorTerminatingFilter"/>
                
                <ref bean="disassemble"/>

                <ref bean="int_edugain_removeBlacklistedEntities"/>
                
                <!--
                    All eduGAIN entities should have mdrpi:RegistrationInfo elements, but
                    we can't check the actual values.
                -->
                <ref bean="check_hasreginfo"/>
            </list>
        </property>
    </bean>
    
</beans>
