<?xml version="1.0" encoding="UTF-8"?>
<!--
    Common beans for this channel.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    default-lazy-init="true"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
    
    <!--
        Location of various resources.
    -->
    <bean id="int_testshib_productionAggregate_url" class="java.lang.String">
        <constructor-arg value="http://www.testshib.org/metadata/testshib-two-metadata.xml"/>
    </bean>
    
    <!--
        Fetch the production aggregate.
    -->
    <bean id="int_testshib_productionAggregate" parent="DOMResourceSourceStage"
        p:id="int_testshib_productionAggregate">
        <property name="DOMResource">
            <bean parent="HTTPResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url"    ref="int_testshib_productionAggregate_url"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Fetch the production entities as a collection.
    -->
    <bean id="int_testshib_productionEntities" parent="CompositeStage"
        p:id="int_testshib_productionEntities">
        <property name="composedStages">
            <list>
                <ref bean="int_testshib_productionAggregate"/>
                
                <ref bean="disassemble"/>
            </list>
        </property>
    </bean>
    
    <!--
        Select primary export aggregate.
    -->
    <alias alias="int_testshib_exportedAggregate" name="int_testshib_productionAggregate"/>
    <alias alias="int_testshib_exportedEntities"  name="int_testshib_productionEntities"/>
</beans>
