<?xml version="1.0" encoding="UTF-8"?>
<!--
    Common beans for this channel.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    default-lazy-init="true"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
    
    <!--
        Location of various resources.
    -->
    <bean id="ca_caf_productionAggregate_url" class="java.lang.String">
        <constructor-arg value="https://caf-shibops.ca/CoreServices/cafshib_metadata_signed.xml"/>
    </bean>
    <bean id="ca_caf_edugainAggregate_url" class="java.lang.String">
        <constructor-arg value="https://idp.canarie.ca/canarie-inside-edugain.xml"/>
    </bean>
    
    <!--
        Fetch the CAF production aggregate.
    -->
    <bean id="ca_caf_productionAggregate" parent="domResourceStage_parent"
        p:id="ca_caf_productionAggregate">
        <property name="domResource">
            <bean class="net.shibboleth.utilities.java.support.httpclient.HttpResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url" ref="ca_caf_productionAggregate_url"/>
            </bean>
        </property>
    </bean>
    
    <!--
        CAF signing certificate.
    -->
    <bean id="ca_caf_signingCertificate" class="net.shibboleth.ext.spring.factory.X509CertificateFactoryBean">
        <property name="certificateFile">
            <bean class="java.io.File">
                <constructor-arg value="#{ systemProperties['basedir'] }/mdx/ca_caf/cafshib_metadata_verify.pem"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Check CAF signing signature.
    -->
    <bean id="ca_caf_checkSignature" parent="stage_parent"
        class="net.shibboleth.metadata.dom.XMLSignatureValidationStage"
        p:id="ca_caf_checkSignature">
        <property name="verificationCertificate" ref="ca_caf_signingCertificate"/>
    </bean>
    
    <!--
        Fetch and process the exported entities as a collection.
    -->
    <bean id="ca_caf_exportedEntities" parent="composite_parent"
        p:id="ca_caf_exportedEntities">
        <property name="composedStages">
            <list>
                <!-- no export aggregate; use the production one instead -->
                <ref bean="ca_caf_productionAggregate"/>

                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="check_validUntil"/>
                <ref bean="ca_caf_checkSignature"/>
                <!--
                <ref bean="errorTerminatingFilter"/>
                -->
                
                <ref bean="disassemble"/>
                
                <ref bean="standardImportActions"/>
                
                <!-- Strip all entity attributes from this source. -->
                <ref bean="stripMdattrNamespace"/>
                
            </list>
        </property>
    </bean>
    
</beans>
