<?xml version="1.0" encoding="UTF-8"?>
<!--
    Common beans for this channel.
-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> 

    <!--
        Fetch the CAF production aggregate.
    -->
    <bean id="ca_caf_productionAggregate" class="net.shibboleth.metadata.dom.DomHttpSourceStage"
        init-method="initialize" lazy-init="true">
        <property name="id" value="ca_caf_productionAggregate"/>
        <property name="parserPool" ref="parserPool"/>
        <property name="sourceUrl" value="https://caf-shibops.ca/CoreServices/cafshib_metadata_signed.xml"/>        
    </bean>
    
    <!--
        CAF signing certificate.
    -->
    <bean id="ca_caf_signingCertificate" class="net.shibboleth.ext.spring.factory.X509CertificateFactoryBean"
        lazy-init="true">
        <property name="certificateFile">
            <bean class="java.io.File">
                <constructor-arg value="#{ systemProperties['basedir'] }/mdx/ca_caf/cafshib_metadata_verify.pem"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Check CAF signing signature.
    -->
    <bean id="ca_caf_checkSignature" class="net.shibboleth.metadata.dom.XMLSignatureValidationStage"
        init-method="initialize" lazy-init="true">
        <property name="id" value="ca_caf_checkSignature"/>
        <property name="verificationCertificate" ref="ca_caf_signingCertificate"/>
    </bean>
    
    <!--
        Fetch and process the exported entities as a collection.
    -->
    <bean id="ca_caf_exportedEntities" class="net.shibboleth.metadata.pipeline.CompositeStage"
        init-method="initialize" lazy-init="true">
        <property name="id" value="ca_caf_exportedEntities"/>
        <property name="composedStages">
            <list>
                <!-- no export aggregate; use the production one instead -->
                <ref bean="ca_caf_productionAggregate"/>
                <ref bean="ca_caf_checkSignature"/>
                
                <!-- failure to validate signature is fatal -->
                <ref bean="errorTerminatingFilter"/>
                
                <ref bean="disassemble"/>
                
                <ref bean="standardImportActions"/>
            </list>
        </property>
    </bean>
    
</beans>
