<?xml version="1.0" encoding="UTF-8"?>
<!--
    Common beans for this channel.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    default-lazy-init="true"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
    
    <!--
        Location of various resources.
    -->
    <bean id="nl_surfnet_edugainAggregate_url" class="java.lang.String">
        <constructor-arg value="https://wayf.surfnet.nl/federate/surfnet/edugain"/>
    </bean>
    
    <!--
        Fetch the eduGAIN export aggregate.
    -->
    <bean id="nl_surfnet_edugainAggregate" parent="DomResourceSourceStage"
        p:id="nl_surfnet_edugainAggregate">
        <property name="domResource">
            <bean class="net.shibboleth.utilities.java.support.httpclient.HttpResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url"    ref="nl_surfnet_edugainAggregate_url"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Metadata signing certificate.
    -->
    <bean id="nl_surfnet_signingCertificate" class="net.shibboleth.ext.spring.factory.X509CertificateFactoryBean">
        <property name="certificateFile">
            <bean class="java.io.File">
                <constructor-arg value="#{ systemProperties['basedir'] }/mdx/nl_surfnet/metadata-signer.crt"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Check the signature on a document.
    -->
    <bean id="nl_surfnet_checkSignature" parent="stage_parent"
        class="net.shibboleth.metadata.dom.XMLSignatureValidationStage"
        p:id="nl_surfnet_checkSignature">
        <property name="verificationCertificate" ref="nl_surfnet_signingCertificate"/>
    </bean>
    
    <!--
        Fetch the IdP aggregate.
    -->
    <bean id="nl_surfnet_idpAggregate" parent="DomResourceSourceStage"
        p:id="nl_surfnet_idpAggregate">
        <property name="domResource">
            <bean class="net.shibboleth.utilities.java.support.httpclient.HttpResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url" value="https://wayf.surfnet.nl/federate/metadata"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Fetch the SP aggregate.
    -->
    <bean id="nl_surfnet_spAggregate" parent="DomResourceSourceStage"
        p:id="nl_surfnet_spAggregate">
        <property name="domResource">
            <bean class="net.shibboleth.utilities.java.support.httpclient.HttpResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url" value="http://federatie.surfnet.nl/metadata-sfs-sp-saml20-signed.xml"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Fetch the production entities as a collection.
        
        Fake this up by combining separate IdP and SP aggregates.
    -->
    <bean id="nl_surfnet_productionEntities" parent="CompositeStage"
        p:id="nl_surfnet_productionEntities">
        <property name="composedStages">
            <list>
                <ref bean="nl_surfnet_idpAggregate"/>

                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="check_validUntil"/>
                <ref bean="nl_surfnet_checkSignature"/>
                <ref bean="errorTerminatingFilter"/>
                
                <!-- SP singleton -->
                <ref bean="nl_surfnet_spAggregate"/>
                <ref bean="disassemble"/>
            </list>
        </property>
    </bean>
    
    <!--
        Fetch the eduGAIN export entities as a collection.
    -->
    <bean id="nl_surfnet_edugainEntities" parent="CompositeStage"
        p:id="nl_surfnet_edugainEntities">
        <property name="composedStages">
            <list>
                <ref bean="nl_surfnet_edugainAggregate"/>
                
                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="check_validUntil"/>
                <ref bean="nl_surfnet_checkSignature"/>
                <ref bean="errorTerminatingFilter"/>
                
                <ref bean="disassemble"/>
            </list>
        </property>
    </bean>
    
    <!--
        Select primary export aggregate.
    -->
    <alias alias="nl_surfnet_exportedAggregate" name="nl_surfnet_edugainAggregate"/>
    <alias alias="nl_surfnet_exportedEntities"  name="nl_surfnet_edugainEntities"/>
</beans>
