<?xml version="1.0" encoding="UTF-8"?>
<!--
    Common beans for this channel.
-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> 

    <!--
        Fetch the production aggregate.
    -->
    <bean id="hu_eduid_productionAggregate" class="net.shibboleth.metadata.dom.DomHttpSourceStage"
        init-method="initialize" lazy-init="true">
        <property name="id" value="hu_eduid_productionAggregate"/>
        <property name="parserPool" ref="parserPool"/>
        <property name="sourceUrl" value="https://metadata.eduid.hu/metadata.xml"/>        
    </bean>
    
    <!--
        Metadata signing certificate.
    -->
    <bean id="hu_eduid_signingCertificate" class="net.shibboleth.ext.spring.factory.X509CertificateFactoryBean"
        lazy-init="true">
        <property name="certificateFile">
            <bean class="java.io.File">
                <constructor-arg value="#{ systemProperties['basedir'] }/mdx/hu_eduid/href-metadata-signer-2010.crt"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Check the signature on a document.
    -->
    <bean id="hu_eduid_checkSignature" class="net.shibboleth.metadata.dom.XMLSignatureValidationStage"
        init-method="initialize" lazy-init="true">
        <property name="id" value="hu_eduid_checkSignature"/>
        <property name="verificationCertificate" ref="hu_eduid_signingCertificate"/>
    </bean>
    
    <!--
        Fetch and process the exported entities as a collection.
    -->
    <bean id="hu_eduid_exportedEntities" class="net.shibboleth.metadata.pipeline.CompositeStage"
        init-method="initialize" lazy-init="true">
        <property name="id" value="hu_eduid_exportedEntities"/>
        <property name="composedStages">
            <list>
                <!-- no export aggregate; use the production one instead -->
                <ref bean="hu_eduid_productionAggregate"/>

                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="check_validUntil"/>
                <ref bean="hu_eduid_checkSignature"/>
                <ref bean="errorTerminatingFilter"/>
                
                <ref bean="disassemble"/>
                
                <ref bean="standardImportActions"/>
            </list>
        </property>
    </bean>
    
</beans>
