<?xml version="1.0" encoding="UTF-8"?>
<!--
    Common beans for this channel.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    default-lazy-init="true"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
    
    <!--
        Fetch the aggregate aggregate.
    -->
    <bean id="test_aggregate" parent="stage_parent"
        class="net.shibboleth.metadata.dom.DomFilesystemSourceStage"
        p:id="test_aggregate">
        <property name="parserPool" ref="parserPool"/>
        <property name="source">
            <bean class="java.io.File">
                <constructor-arg value="#{ systemProperties['basedir'] }/mdx/test/input.xml"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Fetch and process the entities as a collection.
    -->
    <bean id="test_entities" parent="CompositeStage"
        p:id="test_entities">
        <property name="composedStages">
            <list>
                <ref bean="test_aggregate"/>
                <ref bean="disassemble"/>
            </list>
        </property>
    </bean>
    
</beans>
