<?xml version="1.0" encoding="UTF-8"?>
<!--
    Common beans for this channel.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    default-lazy-init="true"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
    
    <!--
        Location of various resources.
    -->
    <bean id="lv_laife_productionAggregate_url" class="java.lang.String">
        <constructor-arg value="https://laife.lanet.lv/metadata/laife-metadata.xml"/>
    </bean>
    <bean id="lv_laife_edugainAggregate_url" class="java.lang.String">
        <constructor-arg value="https://laife.lanet.lv/metadata/laife-edugain-metadata.xml"/>
    </bean>
    
    <!--
        Fetch the production aggregate.
    -->
    <bean id="lv_laife_productionAggregate" parent="DOMResourceSourceStage"
        p:id="lv_laife_productionAggregate">
        <property name="DOMResource">
            <bean parent="HTTPResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url"    ref="lv_laife_productionAggregate_url"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Fetch the eduGAIN export aggregate.
    -->
    <bean id="lv_laife_edugainAggregate" parent="DOMResourceSourceStage"
        p:id="lv_laife_edugainAggregate">
        <property name="DOMResource">
            <bean parent="HTTPResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url"    ref="lv_laife_edugainAggregate_url"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Signing certificate.
        
        This certificate is used to sign the eduGAIN aggregate, but the production
        aggregate is not signed.
    -->
    <bean id="lv_laife_signingCertificate" parent="X509CertificateFactoryBean">
        <property name="certificateFile">
            <bean class="java.io.File">
                <constructor-arg value="#{ systemProperties['basedir'] }/mdx/lv_laife/metadata-signer.crt"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Check signing signature.
    -->
    <bean id="lv_laife_checkSignature" parent="XMLSignatureValidationStage"
        p:id="lv_laife_checkSignature">
        <property name="verificationCertificate" ref="lv_laife_signingCertificate"/>
        <property name="permittingEmptyReferences" value="true"/>
    </bean>
    
    <!--
        Fetch the production entities as a collection.
    -->
    <bean id="lv_laife_productionEntities" parent="CompositeStage"
        p:id="lv_laife_productionEntities">
        <property name="composedStages">
            <list>
                <ref bean="lv_laife_productionAggregate"/>
                
                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="check_validUntil"/>
                <!-- this metadata is not signed -->
                <ref bean="errorTerminatingFilter"/>
                
                <ref bean="disassemble"/>
            </list>
        </property>
    </bean>
    
    <!--
        Fetch the eduGAIN export entities as a collection.
    -->
    <bean id="lv_laife_edugainEntities" parent="CompositeStage"
        p:id="lv_laife_edugainEntities">
        <property name="composedStages">
            <list>
                <ref bean="lv_laife_edugainAggregate"/>
                
                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="check_validUntil"/>
                <ref bean="lv_laife_checkSignature"/>
                <ref bean="errorTerminatingFilter"/>
                
                <ref bean="disassemble"/>
            </list>
        </property>
    </bean>
    
    <!--
        Select primary export aggregate.
    -->
    <alias alias="lv_laife_exportedAggregate" name="lv_laife_edugainAggregate"/>
    <alias alias="lv_laife_exportedEntities"  name="lv_laife_edugainEntities"/>
</beans>
