<?xml version="1.0" encoding="UTF-8"?>
<!--
    Common beans for this channel.
-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> 

    <!--
        Fetch the AAF production aggregate.
    -->
    <bean id="au_aaf_productionAggregate" class="net.shibboleth.metadata.dom.DomResourceSourceStage"
        init-method="initialize" lazy-init="true">
        <property name="id" value="au_aaf_productionAggregate"/>
        <property name="parserPool" ref="parserPool"/>
        <property name="domResource">
            <bean class="org.opensaml.util.net.HttpResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url" value="http://manager.aaf.edu.au/metadata/metadata.aaf.signed.xml"/>
            </bean>
        </property>
    </bean>
    
    <!--
        AAF signing certificate.
    -->
    <bean id="au_aaf_signingCertificate" class="net.shibboleth.ext.spring.factory.X509CertificateFactoryBean"
        lazy-init="true">
        <property name="certificateFile">
            <bean class="java.io.File">
                <constructor-arg value="#{ systemProperties['basedir'] }/mdx/au_aaf/aaf-metadata-cert.pem"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Check AAF signing signature.
    -->
    <bean id="au_aaf_checkSignature" class="net.shibboleth.metadata.dom.XMLSignatureValidationStage"
        init-method="initialize" lazy-init="true">
        <property name="id" value="au_aaf_checkSignature"/>
        <property name="verificationCertificate" ref="au_aaf_signingCertificate"/>
    </bean>
    
    <!--
        Fetch and process the exported entities as a collection.
    -->
    <bean id="au_aaf_exportedEntities" class="net.shibboleth.metadata.pipeline.CompositeStage"
        init-method="initialize" lazy-init="true">
        <property name="id" value="au_aaf_exportedEntities"/>
        <property name="composedStages">
            <list>
                <!-- no export aggregate; use the production one instead -->
                <ref bean="au_aaf_productionAggregate"/>

                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="check_validUntil"/>
                <ref bean="au_aaf_checkSignature"/>
                <ref bean="errorTerminatingFilter"/>
                
                <ref bean="disassemble"/>
                
                <ref bean="standardImportActions"/>
            </list>
        </property>
    </bean>
    
</beans>
