<?xml version="1.0" encoding="UTF-8"?>
<!--
    Common beans for this channel.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    default-lazy-init="true"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    
    <!--
        Fetch the production aggregate.
    -->
    <bean id="nz_tuakiri_productionAggregate" parent="DOMResourceSourceStage"
        p:id="nz_tuakiri_productionAggregate">
        <property name="DOMResource">
            <bean parent="HTTPResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url" value="http://directory.test.tuakiri.ac.nz/metadata/tuakiri-test-metadata-signed.xml"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Signing certificate.
    -->
    <bean id="nz_tuakiri_signingCertificate" parent="X509CertificateFactoryBean">
        <property name="certificateFile">
            <bean class="java.io.File">
                <constructor-arg value="${basedir}/mdx/nz_tuakiri/tuakiri-test-metadata-cert.pem"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Check signing signature.
    -->
    <bean id="nz_tuakiri_checkSignature" parent="XMLSignatureValidationStage"
        p:id="nz_tuakiri_checkSignature">
        <property name="verificationCertificate" ref="nz_tuakiri_signingCertificate"/>
    </bean>
    
    <!--
        Fetch the production entities as a collection.
    -->
    <bean id="nz_tuakiri_productionEntities" parent="CompositeStage"
        p:id="nz_tuakiri_productionEntities">
        <property name="composedStages">
            <list>
                <ref bean="nz_tuakiri_productionAggregate"/>
                
                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="check_validUntil"/>
                <ref bean="nz_tuakiri_checkSignature"/>
                <ref bean="errorTerminatingFilter"/>
                
                <ref bean="disassemble"/>
            </list>
        </property>
    </bean>
    
</beans>
