<?xml version="1.0" encoding="UTF-8"?>
<!--
    Common beans for this channel.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    default-lazy-init="true"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
    
    <!--
        Location of various resources.
    -->
    <!-- eduGAIN export aggregate -->
    <bean id="cl_cofre_edugainAggregate_url" class="java.lang.String">
        <constructor-arg value="http://cofre.reuna.cl/edugain/cofre-edugain.xml"/>
    </bean>
    
    <!--
        Fetch the eduGAIN export aggregate.
    -->
    <bean id="cl_cofre_edugainAggregate" parent="DOMResourceSourceStage"
        p:id="cl_cofre_edugainAggregate">
        <property name="DOMResource">
            <bean class="net.shibboleth.utilities.java.support.httpclient.HttpResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url"    ref="cl_cofre_edugainAggregate_url"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Signing certificate.
    -->
    <bean id="cl_cofre_signingCertificate" class="net.shibboleth.ext.spring.factory.X509CertificateFactoryBean">
        <property name="certificateFile">
            <bean class="java.io.File">
                <constructor-arg value="#{ systemProperties['basedir'] }/mdx/cl_cofre/metadata-signer.crt"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Check signing signature.
    -->
    <bean id="cl_cofre_checkSignature" parent="XMLSignatureValidationStage"
        p:id="cl_cofre_checkSignature">
        <property name="verificationCertificate" ref="cl_cofre_signingCertificate"/>
    </bean>
    
    <!--
        cl_cofre_registrar
        
        Unique ID for the registrar associated with this channel.
    -->
    <bean id="cl_cofre_registrar" class="java.lang.String">
        <constructor-arg value="http://cofre.reuna.cl"/>
    </bean>
    
    <!--
        cl_cofre_check_regauth
        
        Any registrationAuthority already present on an entity in this
        channel must match the known registration authority value.
    -->
    <bean id="cl_cofre_check_regauth" parent="check_regauth_parent"
        p:id="cl_cofre_check_regauth">
        <property name="transformParameters">
            <map>
                <entry key="expectedAuthority" value-ref="cl_cofre_registrar"/>
            </map>
        </property>
    </bean>
    
    <!--
        cl_cofre_default_regauth
        
        Provide a default registrationAuthority appropriate to
        this channel.
    -->
    <bean id="cl_cofre_default_regauth" parent="default_regauth_parent"
        p:id="cl_cofre_default_regauth">
        <property name="transformParameters">
            <map>
                <entry key="defaultAuthority" value-ref="cl_cofre_registrar"/>
            </map>
        </property>
    </bean>
    
    <!--
        Fetch the eduGAIN export entities as a collection.
    -->
    <bean id="cl_cofre_edugainEntities" parent="CompositeStage"
        p:id="cl_cofre_edugainEntities">
        <property name="composedStages">
            <list>
                <ref bean="cl_cofre_edugainAggregate"/>
                
                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="check_validUntil"/>
                <ref bean="cl_cofre_checkSignature"/>
                <ref bean="errorTerminatingFilter"/>
                
                <ref bean="disassemble"/>
                
                <ref bean="check_hasreginfo"/>
                <ref bean="cl_cofre_check_regauth"/>
            </list>
        </property>
    </bean>
    
    <!--
        Select primary export aggregate.
    -->
    <alias alias="cl_cofre_exportedAggregate" name="at_aconet_edugainAggregate"/>
    <alias alias="cl_cofre_exportedEntities"  name="at_aconet_edugainEntities"/>
</beans>
