<?xml version="1.0" encoding="UTF-8"?>
<!--
    Common beans for this channel.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    default-lazy-init="true"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    
    <!--
        Metadata locations:
        
        for SP (set of IdP only): https://metadata.eduid.cz/entities/eduid+idp
        for IdP (set of SP only): https://metadata.eduid.cz/entities/eduid+sp
        complete set of IdP and SP: https://metadata.eduid.cz/entities/eduid
        
        See: http://www.eduid.cz/wiki/en/eduid/tech/details/index
    -->
    
    <!--
        Location of various resources.
    -->
    <bean id="cz_eduid_productionAggregate_url" class="java.lang.String">
        <constructor-arg value="https://metadata.eduid.cz/entities/eduid"/>
    </bean>
    <bean id="cz_eduid_edugainAggregate_url" class="java.lang.String">
        <constructor-arg value="https://metadata.eduid.cz/entities/eduid2edugain"/>
    </bean>
    
    <!--
        Fetch the production aggregate.
    -->
    <bean id="cz_eduid_productionAggregate" parent="DOMResourceSourceStage"
        p:id="cz_eduid_productionAggregate">
        <property name="DOMResource">
            <bean parent="HTTPResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url"    ref="cz_eduid_productionAggregate_url"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Fetch the eduGAIN export aggregate.
    -->
    <bean id="cz_eduid_edugainAggregate" parent="DOMResourceSourceStage"
        p:id="cz_eduid_edugainAggregate">
        <property name="DOMResource">
            <bean parent="HTTPResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url"    ref="cz_eduid_edugainAggregate_url"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Metadata signing certificate.
    -->
    <bean id="cz_eduid_signingCertificate" parent="X509CertificateFactoryBean">
        <property name="certificateFile">
            <bean class="java.io.File">
                <constructor-arg value="#{ systemProperties['basedir'] }/mdx/cz_eduid/metadata.eduid.cz.crt.pem"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Check the signature on a document.
    -->
    <bean id="cz_eduid_checkSignature" parent="XMLSignatureValidationStage"
        p:id="cz_eduid_checkSignature">
        <property name="verificationCertificate" ref="cz_eduid_signingCertificate"/>
        <property name="permittingEmptyReferences" value="true"/>
    </bean>
    
    <!--
        Remove the eduID.cz custom metadata tagging namespace.
    -->
    <bean id="cz_eduid_stripMetadataNamespace" parent="NamespaceStrippingStage"
        p:id="cz_eduid_stripMetadataNamespace"
        p:namespace="http://eduid.cz/schema/metadata/1.0"/>
    
    <!--
        Fetch the production entities as a collection.
    -->
    <bean id="cz_eduid_productionEntities" parent="CompositeStage"
        p:id="cz_eduid_productionEntities">
        <property name="composedStages">
            <list>
                <ref bean="cz_eduid_productionAggregate"/>

                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="check_validUntil"/>
                <ref bean="cz_eduid_checkSignature"/>
                <ref bean="errorTerminatingFilter"/>
                
                <ref bean="disassemble"/>
                
                <ref bean="cz_eduid_stripMetadataNamespace"/>
            </list>
        </property>
    </bean>
    
    <!--
        Fetch the eduGAIN export entities as a collection.
    -->
    <bean id="cz_eduid_edugainEntities" parent="CompositeStage"
        p:id="cz_eduid_edugainEntities">
        <property name="composedStages">
            <list>
                <ref bean="cz_eduid_edugainAggregate"/>
                
                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="check_validUntil"/>
                <ref bean="cz_eduid_checkSignature"/>
                <ref bean="errorTerminatingFilter"/>
                
                <ref bean="disassemble"/>
                
                <ref bean="cz_eduid_stripMetadataNamespace"/>
            </list>
        </property>
    </bean>

    <!--
        Select primary export aggregate.
    -->
    <alias alias="cz_eduid_exportedAggregate" name="cz_eduid_edugainAggregate"/>
    <alias alias="cz_eduid_exportedEntities"  name="cz_eduid_edugainEntities"/>
</beans>
