<?xml version="1.0" encoding="UTF-8"?>
<!--
    Common beans for this channel.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    default-lazy-init="true"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    
    <!--
        Fetch the production aggregate.
    -->
    <bean id="jp_gakunin_productionAggregate" parent="DOMResourceSourceStage"
        p:id="jp_gakunin_productionAggregate">
        <property name="DOMResource">
            <bean parent="HTTPResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url" value="https://metadata.gakunin.nii.ac.jp/gakunin-metadata.xml"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Signing certificate.
    -->
    <bean id="jp_gakunin_signingCertificate" parent="X509CertificateFactoryBean">
        <property name="certificateFile">
            <bean class="java.io.File">
                <constructor-arg value="#{ systemProperties['basedir'] }/mdx/jp_gakunin/gakunin-signer-2010.cer"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Check signing signature.
    -->
    <bean id="jp_gakunin_checkSignature" parent="XMLSignatureValidationStage"
        p:id="jp_gakunin_checkSignature">
        <property name="verificationCertificate" ref="jp_gakunin_signingCertificate"/>
        <property name="permittingEmptyReferences" value="true"/>
    </bean>
    
    <!--
        Fetch the production entities as a collection.
    -->
    <bean id="jp_gakunin_productionEntities" parent="CompositeStage"
        p:id="jp_gakunin_productionEntities">
        <property name="composedStages">
            <list>
                <ref bean="jp_gakunin_productionAggregate"/>

                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="check_validUntil"/>
                <ref bean="jp_gakunin_checkSignature"/>
                <ref bean="errorTerminatingFilter"/>
                
                <ref bean="disassemble"/>
            </list>
        </property>
    </bean>
    
</beans>
