<?xml version="1.0" encoding="UTF-8"?>
<!--
    Common beans for this channel.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    default-lazy-init="true"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
    
    <!--
        Information about WAYF metadata can be found here:
        
        http://wayf.dk/en/institutions/metadata
    -->
    
    <!--
        Location of various resources.
    -->
    <bean id="dk_wayf_productionIdpMetadata_url" class="java.lang.String">
        <constructor-arg value="https://wayf.wayf.dk/saml2/idp/metadata.php"/>
    </bean>
    <bean id="dk_wayf_productionSpMetadata_url" class="java.lang.String">
        <constructor-arg value="https://wayf.wayf.dk/module.php/saml/sp/metadata.php/wayf.wayf.dk"/>
    </bean>
    <bean id="dk_wayf_edugainAggregate_url" class="java.lang.String">
        <constructor-arg value="https://metadata.wayf.dk/wayf-edugain-metadata.xml"/>
    </bean>
    
    <!--
        Fetch the IdP metadata.
    -->
    <bean id="dk_wayf_idpMetadata" parent="domResourceStage_parent"
        p:id="dk_wayf_idpMetadata">
        <property name="domResource">
            <bean class="net.shibboleth.utilities.java.support.httpclient.HttpResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url"    ref="dk_wayf_productionIdpMetadata_url"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Fetch the SP metadata.
    -->
    <bean id="dk_wayf_spMetadata" parent="domResourceStage_parent"
        p:id="dk_wayf_spMetadata">
        <property name="domResource">
            <bean class="net.shibboleth.utilities.java.support.httpclient.HttpResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url"    ref="dk_wayf_productionSpMetadata_url"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Fetch the BIRK proxy metadata.
        
        See http://wayf.dk/en/services/connection-technology-for-services/412
    -->
    <bean id="dk_wayf_birkMetadata" parent="domResourceStage_parent"
        p:id="dk_wayf_birkMetadata">
        <property name="domResource">
            <bean class="net.shibboleth.utilities.java.support.httpclient.HttpResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url" value="https://metadata.wayf.dk//birk-idp.xml"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Synthesise a production aggregate.
    -->
    <bean id="dk_wayf_productionAggregate" parent="composite_parent"
        p:id="dk_wayf_productionAggregate">
        <property name="composedStages">
            <list>
                <!-- BIRK proxy metadata aggregate -->
                <ref bean="dk_wayf_birkMetadata"/>
                <ref bean="disassemble"/>
                
                <!-- hub singleton IdP and SP metadata -->
                <ref bean="dk_wayf_idpMetadata"/>
                <ref bean="dk_wayf_spMetadata"/>

                <!-- put them together -->
                <ref bean="assemble"/>
            </list>
        </property>
    </bean>
    
    <!--
        Fetch the eduGAIN export aggregate.
    -->
    <bean id="dk_wayf_edugainAggregate" parent="domResourceStage_parent"
        p:id="dk_wayf_edugainAggregate">
        <property name="domResource">
            <bean class="net.shibboleth.utilities.java.support.httpclient.HttpResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url"    ref="dk_wayf_edugainAggregate_url"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Signing certificate.
        
        This one is used to sign the eduGAIN aggregate.
    -->
    <bean id="dk_wayf_signingCertificate" class="net.shibboleth.ext.spring.factory.X509CertificateFactoryBean">
        <property name="certificateFile">
            <bean class="java.io.File">
                <constructor-arg value="#{ systemProperties['basedir'] }/mdx/dk_wayf/metadata-signer.crt"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Check signing signature.
    -->
    <bean id="dk_wayf_checkSignature" parent="stage_parent"
        class="net.shibboleth.metadata.dom.XMLSignatureValidationStage"
        p:id="dk_wayf_checkSignature">
        <property name="verificationCertificate" ref="dk_wayf_signingCertificate"/>
    </bean>
    
    <!--
        Fetch and process the production entities as a collection.
    -->
    <bean id="dk_wayf_productionEntities" parent="composite_parent"
        p:id="dk_wayf_productionEntities">
        <property name="composedStages">
            <list>
                <!-- BIRK proxy metadata aggregate -->
                <ref bean="dk_wayf_birkMetadata"/>
                <ref bean="disassemble"/>

                <!-- hub singleton IdP and SP metadata -->
                <ref bean="dk_wayf_idpMetadata"/>
                <ref bean="dk_wayf_spMetadata"/>
                
                <ref bean="standardImportActions"/>
                
                <!-- Strip all entity attributes from this source. -->
                <ref bean="stripMdattrNamespace"/>
                
            </list>
        </property>
    </bean>
    
    <!--
        Fetch and process the eduGAIN export entities as a collection.
    -->
    <bean id="dk_wayf_edugainEntities" parent="composite_parent"
        p:id="dk_wayf_edugainEntities">
        <property name="composedStages">
            <list>
                <ref bean="dk_wayf_edugainAggregate"/>
                
                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="check_validUntil"/>
                <ref bean="dk_wayf_checkSignature"/>
                <ref bean="errorTerminatingFilter"/>
                
                <ref bean="disassemble"/>
                
                <ref bean="standardImportActions"/>
                
                <!-- Strip all entity attributes from this source. -->
                <ref bean="stripMdattrNamespace"/>
                
            </list>
        </property>
    </bean>
    
    <!--
        Select primary export aggregate.
    -->
    <alias alias="dk_wayf_exportedAggregate" name="dk_wayf_edugainAggregate"/>
    <alias alias="dk_wayf_exportedEntities"  name="dk_wayf_edugainEntities"/>    
</beans>
