<?xml version="1.0" encoding="UTF-8"?>
<!--
    Common beans for this channel.
-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> 

    <!--
        Fetch the export aggregate.
    -->
    <bean id="eu_clarin_exportAggregate" class="net.shibboleth.metadata.dom.DomHttpSourceStage"
        init-method="initialize" lazy-init="true">
        <property name="id" value="eu_clarin_exportAggregate"/>
        <property name="parserPool" ref="parserPool"/>
        <property name="sourceUrl" value="http://www.clarin.eu/aai/clarin-sp-metadata.xml"/>        
    </bean>
    
    <!--
        Fetch and process the exported entities as a collection.
    -->
    <bean id="eu_clarin_exportedEntities" class="net.shibboleth.metadata.pipeline.CompositeStage"
        init-method="initialize" lazy-init="true">
        <property name="id" value="eu_clarin_exportedEntities"/>
        <property name="composedStages">
            <list>
                <ref bean="eu_clarin_exportAggregate"/>
                <ref bean="disassemble"/>
                <ref bean="standardImportActions"/>
            </list>
        </property>
    </bean>
    
</beans>
