<?xml version="1.0" encoding="UTF-8"?>
<!--
    Common beans for this channel.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    default-lazy-init="true"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
    
    <!--
        Fetch the export aggregate.
    -->
    <bean id="eu_clarin_exportAggregate" parent="domResourceStage_parent"
        p:id="eu_clarin_exportAggregate">
        <property name="domResource">
            <bean class="net.shibboleth.utilities.java.support.httpclient.HttpResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url" value="http://www.clarin.eu/aai/clarin-sp-metadata.xml"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Fetch and process the exported entities as a collection.
    -->
    <bean id="eu_clarin_exportedEntities" parent="composite_parent"
        p:id="eu_clarin_exportedEntities">
        <property name="composedStages">
            <list>
                <ref bean="eu_clarin_exportAggregate"/>
                
                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <!--
                    Check for validUntil fails because this is a static file.
                    No signature check, because the file is also unsigned.
                -->
                <!--
                <ref bean="check_validUntil"/>
                <ref bean="errorTerminatingFilter"/>
                -->
                
                <ref bean="disassemble"/>
                <ref bean="standardImportActions"/>
                
                <!-- Strip all entity attributes from this source. -->
                <ref bean="stripMdattrNamespace"/>
                
            </list>
        </property>
    </bean>
    
</beans>
