<?xml version="1.0" encoding="UTF-8"?>
<!--
    Common beans for this channel.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    default-lazy-init="true"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    
    <!--
        Location of various resources.
    -->
    <bean id="de_dfnaai_productionAggregate_url" class="java.lang.String">
        <constructor-arg value="https://www.aai.dfn.de/fileadmin/metadata/DFN-AAI-metadata.xml"/>
    </bean>
    <bean id="de_dfnaai_edugainAggregate_url" class="java.lang.String">
        <constructor-arg value="https://www.aai.dfn.de/fileadmin/metadata/DFN-AAI-4eduGAIN-metadata.xml"/>
    </bean>
    
    <!--
        Fetch the production aggregate.
    -->
    <bean id="de_dfnaai_productionAggregate" parent="DOMResourceSourceStage"
        p:id="de_dfnaai_productionAggregate">
        <property name="DOMResource">
            <bean parent="HTTPResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url"    ref="de_dfnaai_productionAggregate_url"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Fetch the eduGAIN export aggregate.
    -->
    <bean id="de_dfnaai_edugainAggregate" parent="DOMResourceSourceStage"
        p:id="de_dfnaai_edugainAggregate">
        <property name="DOMResource">
            <bean parent="HTTPResource">
                <constructor-arg name="client" ref="httpClient"/>
                <constructor-arg name="url"    ref="de_dfnaai_edugainAggregate_url"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Signing certificate.
    -->
    <bean id="de_dfnaai_signingCertificate" parent="X509CertificateFactoryBean">
        <property name="certificateFile">
            <bean class="java.io.File">
                <constructor-arg value="${basedir}/mdx/de_dfnaai/dfn-aai.pem"/>
            </bean>
        </property>
    </bean>
    
    <!--
        Check signing signature.
    -->
    <bean id="de_dfnaai_checkEdugainSignature" parent="XMLSignatureValidationStageSHA256"
        p:id="de_dfnaai_checkEdugainSignature">
        <property name="verificationCertificate" ref="de_dfnaai_signingCertificate"/>
    </bean>
    <bean id="de_dfnaai_checkProductionSignature" parent="XMLSignatureValidationStage"
        p:id="de_dfnaai_checkProductionSignature">
        <property name="verificationCertificate" ref="de_dfnaai_signingCertificate"/>
    </bean>
    
    <!--
        Fetch the production entities as a collection.
    -->
    <bean id="de_dfnaai_productionEntities" parent="CompositeStage"
        p:id="de_dfnaai_productionEntities">
        <property name="composedStages">
            <list>
                <ref bean="de_dfnaai_productionAggregate"/>

                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="check_validUntil"/>
                <ref bean="de_dfnaai_checkProductionSignature"/>
                <ref bean="errorTerminatingFilter"/>
                
                <ref bean="disassemble"/>
            </list>
        </property>
    </bean>
    
    <!--
        Fetch the eduGAIN export entities as a collection.
    -->
    <bean id="de_dfnaai_edugainEntities" parent="CompositeStage"
        p:id="de_dfnaai_edugainEntities">
        <property name="composedStages">
            <list>
                <ref bean="de_dfnaai_edugainAggregate"/>
                
                <!--
                    Check for fatal errors at the aggregate level:
                        missing or expired validUntil attribute
                        invalid signature
                -->
                <ref bean="check_validUntil"/>
                <ref bean="de_dfnaai_checkEdugainSignature"/>
                <ref bean="errorTerminatingFilter"/>
                
                <ref bean="disassemble"/>
            </list>
        </property>
    </bean>
    
    <!--
        Select primary export aggregate.
    -->
    <alias alias="de_dfnaai_exportedAggregate" name="de_dfnaai_edugainAggregate"/>
    <alias alias="de_dfnaai_exportedEntities"  name="de_dfnaai_edugainEntities"/>
</beans>
